<div class="header-container">
  <div class="app-name-bar">
    <div class="app-name">
      <img src="./assets/img/dallmeier-invers-logo-18px.png" />
      <p class="title">- Dallmeier Demo Capillary</p>
    </div>
    <div class="utilities-btn">
      <i class="fa fa-window-minimize" aria-hidden="true"></i>
      <i class="fa fa-window-maximize" aria-hidden="true"></i>
      <i class="fa fa-expand" aria-hidden="true"></i>
      <i class="fa fa-window-close" aria-hidden="true"></i>
    </div>
  </div>

  <div class="header-content">
    <div class="logo-container">
      <div class="dl-logo-circle dl-logo"></div>
    </div>
  </div>
</div>